.addressInformation {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    position: fixed;
    right: 15%;
    left: 15%;
    top: 25%;
    z-index: 10;
}