.addressInformation {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    z-index: 10;
    position: fixed;
    top: 15rem;

    @media (max-width: 866px) {
        flex-direction: column;
        top: 8.5rem;
        width: 80%;
        
    }
}