.searchButton {
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    .arrowSearchIcon {
        
        z-index: 10;
    }
}